<ul class="social-links">
  {% if site.social-links.github %}<li><a href="https://github.com/{{ site.social-links.github }}"><i class="fa fa-github fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.twitter %}<li><a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Favniel.app%2Fcrunch%2F&text=¢runch%20%3A%20Free%20your%20grocery%20budget.%20¢runch%20is%20an%20app%20that%20evaluates%20the%20contribution%20of%20groceries%20toward%20calories%20in%20a%20meal&hashtags=crunchapp"><i class="fa fa-twitter fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.facebook %}<li><a href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Favniel.app%2Fcrunch%2Findex.html"><i class="fa fa-facebook-square fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.instagram %}<li><a href="https://instagram.com/{{ site.social-links.instagram }}"><i class="fa fa-instagram fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.pinterest %}<li><a href="https://pinterest.com/{{ site.social-links.pinterest }}"><i class="fa fa-pinterest fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.youtube %}<li><a href="https://youtube.com/{{ site.social-links.youtube }}"><i class="fa fa-youtube fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.googleplus %}<li><a href="https://plus.google.com/{{ site.social-links.googleplus }}"><i class="fa fa-google-plus fa-lg"></i></a></li>{% endif %}
  {% if site.social-links.email %}<li><a href="mailto:{{ site.social-links.email }}"><i class="fa fa-envelope-o fa-lg"></i></a></li>{% endif %}
</ul>
